@charset "utf-8";

.green {
	color: green;
}

.gray {
	color: gray;
}

.orange {
	color: orange;
}

.red {
	color: red;
}
.text-center{
	text-align:center!important;
}
.text-left{
	text-align:left!important;
}
.text-right{
	text-align:right!important;
}